name: Release
on:
  push:
    branches:
      - main

jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies
        run: npm install

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # ADICIONE ESTA LINHA ABAIXO:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
        with:
          # Usar __VERSION__ faz o GitHub ler o seu package.json automaticamente
          tagName: v__VERSION__
          releaseName: "UPLAB User v__VERSION__"
          releaseBody: "Instalador Windows com suporte a atualização automática."
          releaseDraft: true
          prerelease: false